<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer"
     class="flex justify-between text-sm text-slate-600 pt-6 border-t">

	<form th:action="@{/accounts}" method="get">
		<button class="px-1 py-1 text-sm rounded-lg bg-blue-600 text-white hover:bg-blue-800 border border-slate-300">
			Back to Accounts
		</button>
	</form>

    <form th:action="@{/logout}" method="post">
        <button class="text-slate-400 text-sm hover:underline">
            Logout
        </button>
    </form>

</div>

</body>
</html>
