<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header"
     class="flex items-center justify-between border-b pb-4">

    <h1 class="text-3xl font-bold">
        Portfolio Tracker
    </h1>

    <div class="text-sm text-slate-400">
        Logged in as
        <span class="font-medium" sec:authentication="name"></span>
    </div>
	
	<form th:action="@{/accounts}" method="get">
		<button class="px-4 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-800 border border-slate-300">
	    	Back to Accounts
	    </button>
	</form>

</div>

</body>
</html>
