<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/main :: layout(
          ~{::content},
          'Login',
          ~{::head}
      )}">

<head></head>

<body> <!-- class="min-h-screen flex items-center justify-center" -->

<div th:fragment="content" class="w-full max-w-md rounded-xl shadow-lg p-1">

	<p class="text-xl font-bold mb-6 text-center">
	       Login
    </p>

	<div class="rounded-xl shadow p-1 text-slate-400">
		
	    <!-- Success message -->
	    <div th:if="${param.registered}"
	         class="mb-4 rounded-lg bg-green-100 text-green-800 px-4 py-2 text-sm">
	        Registration successful. Please log in.
	    </div>
	
	   
	    <form th:action="@{/login}" method="post" autocomplete="on" class="space-y-1">
	
	        <div>
				<label class="block text-sm text-slate-400 mb-1">Username</label>
	            <input
	                type="text"
	                name="username"
					autocomplete="off"
	                placeholder="Username"
	                required
					class="mt-1 w-full rounded-md appearance-none border-slate-300 focus:bg-slate-400
						   focus:ring-blue-500 focus:border-blue-500 bg-slate-400 text-slate-800"      
	            />
	        </div>
	
	        <div>
				<label class="block text-sm text-slate-400 mb-1">Password</label>
	            <input
	                type="password"
	                name="password"
					autocomplete="off"
	                placeholder="Password"
	                required
	                class="mt-1 w-full rounded-md appearance-none border-slate-300 focus:bg-slate-400
						   focus:ring-blue-500 focus:border-blue-500 bg-slate-400 text-slate-800"
	            />
	        </div>
	
	        <button
	            type="submit"
	            class="w-full rounded-lg bg-blue-600 text-white py-1 text-sm border border-slate-300
	                   hover:bg-blue-800 transition">
	            Sign In
	        </button>
	
	    </form>
	
	    <!-- Error messages -->
	    <div th:if="${param.error}"
	         class="mt-4 text-sm text-red-600 text-center">
	        Invalid username or password
	    </div>
	
	    <div th:if="${param.logout}"
	         class="mt-4 text-sm text-gray-600 text-center">
	        You have been logged out
	    </div>
	</div>

</div>

</body>
</html>
